<div class="login-wrapper">
  <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Iniciar sesión</h2>
      <label>Usuario</label>
      <input formControlName="username" />

      <label>Contraseña</label>
      <input type="password" formControlName="password" />

      <button type="submit">Entrar</button>
    </form>
    <p class="register-link">
      ¿No tienes cuenta?
      <a routerLink="/register">Crear cuenta</a>
    </p>
  </div>
</div>
<div class="modal-overlay" *ngIf="showErrorModal">
  <div class="modal-box">
    <h3>Autenticación fallida</h3>
    <p>Usuario o contraseña incorrectos.</p>
    <button (click)="closeErrorModal()">Cerrar</button>
  </div>
</div>